.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fafafa;
}
.login-box {
    background: #fff;
    padding: 40px 32px 32px 32px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.login-box h2 {
    text-align: center;
    color: #ff9800;
    margin-bottom: 28px;
    font-weight: bold;
}
.login-box label {
    color: #333;
    font-size: 15px;
    margin-bottom: 6px;
}
.login-box input {
    padding: 10px 12px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    font-size: 15px;
    outline: none;
    transition: border 0.2s;
}
.login-box input:focus {
    border-color: #ff9800;
}
.login-btn {
    background: #ff9800;
    color: #fff;
    border: none;
    border-radius: 22px;
    padding: 12px 0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
    transition: background 0.2s;
}
.login-btn:hover {
    background: #ffa726;
}
.login-links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.login-links a {
    color: #ff9800;
    text-decoration: none;
}
.login-links a:hover {
    text-decoration: underline;
}

/*reg*/
.reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fafafa;
}
.reg-box {
    background: #fff;
    padding: 40px 32px 32px 32px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.reg-box h2 {
    text-align: center;
    color: #ff9800;
    margin-bottom: 28px;
    font-weight: bold;
}
.reg-box label {
    color: #333;
    font-size: 15px;
    margin-bottom: 6px;
}
.reg-box input {
    padding: 10px 12px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    font-size: 15px;
    outline: none;
    transition: border 0.2s;
}
.reg-box input:focus {
    border-color: #ff9800;
}
.reg-btn {
    background: #ff9800;
    color: #fff;
    border: none;
    border-radius: 22px;
    padding: 12px 0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
    transition: background 0.2s;
}
.reg-btn:hover {
    background: #ffa726;
}
.reg-links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.reg-links a {
    color: #ff9800;
    text-decoration: none;
}
.reg-links a:hover {
    text-decoration: underline;
}